.idea/
_aienv/
/_cache/
/config-last.json
__pycache__/
/launcher
/_launcher_logs/
*.pid
/launcher-data/
auth.json
auth.*.json

# OpenChamber
_temp/
DEV_*.md

# queue mode runtime directory
/aigcpanel-queue/
